<form #form="ngForm" autocomplete="off" *ngIf="service.formData">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Pediod No.</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">#</div>
                    </div>
                    <input name="PedidoNo" #PedidoNo="ngModel" [(ngModel)]="service.formData.PedidoNo"
                        class="form-control" readonly>
                </div>
            </div>
            <div class="form-group">
                <label>Cliente</label>
                <select name="ClienteID" #ClienteID="ngModel" [(ngModel)]="service.formData.ClienteID"
                    class="form-control">
                    <option value="0">--Select--</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Metodo de Pago</label>
                <select name="PMetodo" #PMetodo="ngModel" [(ngModel)]="service.formData.PMetodo" class="form-control">
                    <option value="">--Select--</option>
                    <option value="Contado">Contado</option>
                    <option value="Tarjeta">Tarjeta</option>
                </select>
            </div>
            <div class="form-group">
                <label>Pediod No.</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">$</div>
                    </div>
                    <input name="GTotal" #GTotal="ngModel" [(ngModel)]="service.formData.GTotal" class="form-control" readonly>
                </div>
            </div>
        </div>
    </div>
    <!--Items de Tabla-->
    <table class="table table-borderless">
        <thead class="thead-light">
            <th>Item</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Total</th>
            <th></th>
        </thead>

        <tbody>
            <tr *ngIf="service.pedidosItems.length==0">
                <td class="font-italic text-center">
                    No food item selected for this order.
                </td>
            </tr>
            <tr *ngFor="let itemp of service.pedidosItems">
                <td>{{itemp.ItemNombre}}</td>
                <td>{{itemp.Precio}}</td>
                <td>{{itemp.Cantidad}}</td>
                <td>{{itemp.Total}}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div class="form-group">
        <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Guardar</button>
    </div>
</form>